/*TODO:----------------- BODY (background-color, poplife icon top-corner-left */
body {
  background-color: #efe5e1;
  overflow-x: auto;
  overflow-y: hidden;
}
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

/*TODO:----------------- HEADER ( */
header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-1a5no9q-appBar {
  background-color: #243b39;
  position:relative;
  z-index:1;
  width:100%;

  

}
div.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-dense.css-1wihn78 {
  top:0px;
  position:relative;



  
}



header {
  position:fixed;
  width: 100%;
  height: 60px;
  background-color:#99402a;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  clear: both;
  z-index:2;
}
.logo {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-right: 90px;
    z-index:3;
}
.pop-life {
  position: fixed;
  top: 6px;
  left: 140px;
  width: 60px; height: 50px;
  z-index:3;
}
.initial_box {
  width: 205px;
  height: 60px;
  top:0;
  position:fixed;
  cursor: pointer;
  display:inline-block;
  z-index: 4;
}



.nav-bar ul {
    display: inline-block;
}

.nav-bar ul li {
  display:inline-block
}


.nav-bar ul li a {
    color: burlywood;
    font-size: 14px;
    padding: 10px 30px;
    border-radius:60px;   
    margin: 0 0px;
}

.nav-bar ul li a:hover{
    color: white;
    transition: 0.5s;
}

.nav-bar ul li a.activo {
    color: white;
    background: #bf4c1e;
}

.nav-bar ul li .submenu {
    display: none;
    position: absolute;
    margin-right:100%;
    background-color: #99402a;
    padding: 10px;
    list-style: none;
    border-radius:10px;
    z-index:999;
  }
  
  .nav-bar ul li:hover .submenu {
    display: block;
    position: absolute;
  }
  
  .nav-bar ul li .submenu li {
    float: none;
    margin-bottom: 10px;
  }
  
  .nav-bar ul li .submenu a {
    display: block;
    padding: 5px;
    color: burlywood;
    border-radius: 15px;
    transition: 0.2s;
    width:150px;
  }
  
  .nav-bar ul li .submenu a:hover {
    color: white;
  }


.checkbtn {
  font-size: 30px;
  position:absolute;
  right: 30px;
  top:10px;
  cursor:pointer;
  display:none;
}

#check {
  display:none;

}


@media (max-width: 920px) {
  .header {
      padding: 0px 30px;
      
  }

  .nav-bar ul li a {
    color: burlywood;
    font-size: 13px;
    padding: 10px 25px;
    border-radius:60px;   
    margin: 0 0px;
  }
}


@media (max-width: 855px) {
  .header {
      padding: 0px 30px;
      
  }

  .nav-bar ul li a {
    color: burlywood;
    font-size: 12px;
    padding: 10px 20px;
    border-radius:60px;   
    margin: 0 0px;
  }
}



/*TODO:----------------- HEADER ADAPTABILITY ( */
@media (max-width: 780px) {
    .checkbtn {
      display:block;
      
    }

  

    .nav-bar ul {
      position:fixed;
      width: 100%;
      height:100vh;
      background: rgb(162, 80, 22);
      top:60px;
      left:-100%;
      text-align:center;
      transition: all .5s;
      z-index:9999;
    }

    .nav-bar ul li {
      display:block;
      margin-top: 30px;
    
    }

    .nav-bar ul li a {
      font-size: 16px;
    }

    #check:checked ~ ul{
      left: 0;
    }

    .nav-bar ul li .submenu {
      position: static;
    background-color: green;
    padding: 10px;
    list-style: none;
    border-radius: 10px;
    z-index: 9999;
    top: 100%; /* Muestra el submenú debajo del elemento padre */
    left: 0; /* Alinear el submenú a la izquierda */
    display: none; /* Oculta el submenú por defecto */
  }
    
    .nav-bar ul li:hover .submenu {
      display: block;
      position: absolute;
    }
    
    .nav-bar ul li .submenu li {
      float: none;
      margin-bottom: 10px;
    }
    
    .nav-bar ul li .submenu a {
      display: block;
      padding: 5px;
      color: burlywood;
      border-radius: 15px;
      transition: 0.2s;
      width:150px;
    }
    
    .nav-bar ul li .submenu a:hover {
      color: white;
    }

    
}

.barra-horizontal {
  position:absolute;
  padding: 10px 20px;
  top: 60px;
  left:200px;
  width: 50%;
  height: 17px;
  background-color: rgb(100, 120, 78);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
  clear: both;
  z-index:1;
}

.barraentre {
  position:fixed;
  width: 100%;
  height: 10px;
  top: 60px;
  background-image: linear-gradient(to bottom, #99402a,#243b39,#243b39);
  background-color:#99402a;
}

.human-icon {
  position:absolute;
  top: 60px;
  left: 300px;
  width: 20px; height: 20px;
  z-index:2;
  cursor: pointer;
}



#root {
  padding-top:70px;
  
  position:relative;
  z-index:1;
}

.MuiTypography-root.MuiTypography-subtitle2.css-1927v8i-name {
  font-size: 10px;
  position: absolute;
  top:0px;
  left:0px;
  display:flex;
  margin-bottom:10px;
}

.footer {
  background-color: #ADD8E6;
  padding: 10px;
  text-align: center;
  position:fixed;
  bottom: 0; /* Colocamos el footer en la parte inferior */
  width: 100%; /* Ancho completo del footer */
  z-index: 100; /* Número alto para asegurar que se superponga a otros elementos */
}


